/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#form-imc {margin-bottom:25px;}
#form-imc .form-group {display:block; clear:both; margin-bottom:15px;}
#form-imc .form-group label {float:left; margin-right:10px; display:block; padding:5px; width:50px;}
#form-imc .form-group .input-group {float:left;}
#form-imc .form-group .input-group input {padding:3px;}
#form-imc button {background:#0f69b4; color:#fff; display:block; border:none; padding:5px 15px; margin-top:10px;}
#form-imc button:hover {background:#2d7fc4;}

#resultado-imc{}